<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>WEB322 {{user.userName}} ({{user.email}}) History</h2>
            <hr />
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Login Date/Time</th>
                            <th>Client Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each user.loginHistory}}
                        <tr>
                            <td>{{dateTime}}</td>
                            <td>{{userAgent}}</td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="4">No Data Available</td>
                        </tr>
                        {{/each}}
                        <!--
                        <tr>
                            <td>{{loginHistory.dateTime}}</td>
                            <td>{{loginHistory.userAgent}}</td>
                        </tr>
                        -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>